{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "jasmine": true
    },
    "extends": [
        "standard",
        "standard-react"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "rules": {
      "semi": [2, "always"],
      "no-unused-vars": ["error", {"varsIgnorePattern": "dotenv", "args": "none"}],
      "no-useless-escape": "off",
      "curly": ["error", "multi-or-nest"],
      "function-paren-newline": ["error", "never"]
    }
}
