{
  "swagger": "2.0",
  "info": {
    "title": "NSG Database API",
    "description": "This is NSG endpoints to interact with ACLs data",
    "version": "0.1",
    "contact": {
      "name": "Developers",
      "email": "developers@amazing.com"
    }
  },
  "host": "nsg-nonprod.nordstrom.net",
  "basePath": "/nonprod",
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "name": "Database",
      "description": "Endpoints to interact with database"
    }
  ],
  "paths": {
    "/api/{table}": {
      "get": {
        "summary": "Returns the rows of the specified table",
        "parameters": [
          {
            "in": "path",
            "name": "table",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Table name to query"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          },
          "500": {
            "description": "Database error"
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": ["Database"]
      },
      "post": {
        "summary": "Creates a table in the database with the specified name",
        "parameters": [
          {
            "in": "path",
            "name": "table",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Table name to create"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          },
          "500": {
            "description": "Database error"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": ["Database"]
      }
    },

    "/api/{table}/{id}": {
      "delete": {
        "summary": "Delete data in the database",
        "parameters": [
          {
            "in": "path",
            "name": "table",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Table name to delete"
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the data to be deleted"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          },
          "500": {
            "description": "Database error"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": ["Database"]

      },
      "put": {
        "summary": "Update data in the database",
        "parameters": [
          {
            "in": "path",
            "name": "table",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Table name to update"
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID of the data to be updated"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          },
          "500": {
            "description": "Database error"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": ["Database"]
      }
    }

  },

  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "x-api-key",
      "in": "header"
    }
  }
}
